<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidtutorial">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".T23_Style.MyStyleActivity"></activity>
        <activity android:name=".T22_ViewPager.MyViewPagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".T21_fragment.MyFragmentActivity"></activity>
        <activity android:name=".T20_BroadcastReceiver.BroadcastReceiverActivity" />

        <service
            android:name=".T19_Service.MyIntentService"
            android:exported="false" />
        <service
            android:name=".T19_Service.MyBindTypeService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".T19_Service.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".T19_Service.ServiceActivity" />
        <activity android:name=".T18_SQLite.SQLiteActivity" />
        <activity android:name=".T17_SharedPreferences.SharedPreperencesActivity" />
        <activity android:name=".P01_xml_recyclerview.XmlRecyclerViewActivity" />
        <activity android:name=".T16_RecyclerView.RecyclerViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".T15_retrofit.RetrofitActivity" />
        <activity android:name=".T14_JSON.JsonActivity" />
        <activity android:name=".T13_RuntimePermission.PermissionActivity" />
        <activity android:name=".T12_WebView.WebViewActivity" />
        <activity android:name=".T11_ImageView.ImageViewActivity" />
        <activity android:name=".T10_xml.XmlActivity" />
        <activity android:name=".T09_AsyncTask.AsyncTaskActivity" />
        <activity android:name=".T08_Thread.ThreadActivity" />
        <activity android:name=".T07_AlertDialog.DialogActivity" />
        <activity android:name=".T06_CustomListView.MyCustomListViewActivity" />
        <activity android:name=".T05_ListView.MyListViewActivity" />
        <activity android:name=".T04_Activity.NewActivity" />
        <activity android:name=".T04_Activity.MyActivity" />
        <activity android:name=".T03_UIWidget.UIWidgetActivity" />
        <activity android:name=".T02_Menu.MenuActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>